<div class="row">
  <div class="column">
    <%= form_for @conn, Routes.page_path(@conn, :upload), [multipart: true], fn f -> %>
      <%= file_input f, :file %>
      <%= submit "Submit" %>
    <% end %>
  </div>
</div>

<h1>Available files</h1>

<%= if Enum.empty?(@files) do %>
  No files uploaded.
<% else %>
  <ul>
    <%= for file <- @files do %>
      <li>
        <%= link file, to: Routes.page_path(@conn, :download, file) %>
      </li>
    <% end %>
  </ul>
<% end %>
